<beans:beans xmlns="https://www.springframework.org/schema/security"
             xmlns:beans="https://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
 https://www.springframework.org/schema/security
 https://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <beans:bean id="webexpressionHandler"
                class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />
    
    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
                
    <http pattern="/favicon.ico" security="none" />
    <http pattern="/dbcheck" security="none" />
    <http pattern="/css/**" security="none" />
    <http pattern="/js/**" security="none" />
    <http pattern="/fonts/**" security="none" />

    <http auto-config="true">
        <form-login login-processing-url="/j_spring_security_check"
                    login-page="/login"
                    username-parameter="j_username"
                    password-parameter="j_password"
                    authentication-failure-url="/login?login_error=1" />
        <intercept-url pattern="/login"
                       access="permitAll" />
        <intercept-url pattern="/register"
                       access="permitAll" />
        <intercept-url pattern="/"
                       access="permitAll" />
        <intercept-url pattern="/admin/**"
                       access="hasRole('ADMIN')" />
        <intercept-url pattern="/**"
                       access="hasRole('USER')" />
    </http>
    <authentication-manager>
        <authentication-provider>
            <password-encoder ref="encoder" />
            <jdbc-user-service id="jdbcUserDetailsService"
                               data-source-ref="dataSource"
                               users-by-username-query="SELECT username, `password`, enabled FROM `user` WHERE username = ?"
                               authorities-by-username-query="SELECT username, authority FROM authority WHERE username = ?" />
        </authentication-provider>
    </authentication-manager>
</beans:beans>
